.Button {
  display: inline-flex;
  margin: 0 4px;
  padding: 8px 24px;
  border: 0;
  border-radius: 2px;
  color: white;
  font-size: 14px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.ButtonSecondary {
  background-color: yellowgreen;
}

.ButtonDefault {
  background-color: rgb(86, 56, 223);
}
